# テクスチャはあげちゃダメ、ｾﾞｯﾀｲ
templates/images/textures/

# アップロードされた画像もいらない
templates/images/uploads/*.png
templates/images/uploads/*.jpg

# pycacheもいらない
*/**/__pycache__/
__pycache__/

# このファイルもあげちゃだめ
static/481c1390987f2432f8385d08f219728060e2144b
